.vs/RomManagerWebApi/v15/.suo
RomManagerApi.Business/bin/Debug/netcoreapp1.1/RomManagerApi.Business.dll
RomManagerApi.Business/bin/Debug/netcoreapp1.1/RomManagerApi.Business.pdb
RomManagerApi.Business/obj/project.assets.json
RomManagerApi.Business/obj/RomManagerApi.Business.csproj.nuget.g.props
RomManagerApi.Business/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
RomManagerApi.Business/obj/Debug/netcoreapp1.1/RomManagerApi.Business.csproj.FileListAbsolute.txt
RomManagerApi.Business/obj/Debug/netcoreapp1.1/RomManagerApi.Business.dll
RomManagerApi.Business/obj/Debug/netcoreapp1.1/RomManagerApi.Business.pdb
RomManagerWebApi/bin/Debug/netcoreapp1.1/RomManagerApi.Business.dll
RomManagerWebApi/bin/Debug/netcoreapp1.1/RomManagerApi.Business.pdb
RomManagerWebApi/bin/Debug/netcoreapp1.1/RomManagerWebApi.deps.json
RomManagerWebApi/bin/Debug/netcoreapp1.1/RomManagerWebApi.dll
RomManagerWebApi/bin/Debug/netcoreapp1.1/RomManagerWebApi.pdb
RomManagerWebApi/obj/project.assets.json
RomManagerWebApi/obj/RomManagerWebApi.csproj.nuget.g.props
RomManagerWebApi/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
RomManagerWebApi/obj/Debug/netcoreapp1.1/RomManagerWebApi.csproj.FileListAbsolute.txt
RomManagerWebApi/obj/Debug/netcoreapp1.1/RomManagerWebApi.csprojResolveAssemblyReference.cache
RomManagerWebApi/obj/Debug/netcoreapp1.1/RomManagerWebApi.dll
RomManagerWebApi/obj/Debug/netcoreapp1.1/RomManagerWebApi.pdb

RomManagerApi.Business/obj/RomManagerApi.Business.csproj.nuget.g.props
RomManagerApi.Business/obj/project.assets.json
RomManagerWebApi/obj/project.assets.json
RomManagerWebApi/obj/RomManagerWebApi.csproj.nuget.g.props
